li a {
    display: block;
    width: 60px;
}
ul {
    background-color: #dddddd;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; /*Full height*/
    position: fixed; /*Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.active {
    background-color: #04aa6d;
}
body {
    background-image: url("./Images/Img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
h1 {
    text-align: center;
    color: red;
} 
p {
    font family: verdana;
    font size: 0px;
    color: red;
    text-align: center;

